<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.dao.NanoDao">
   <select id="getNanoList" parameterType="map" resultType="hashmap">
	   	SELECT
	   		num,
	   		serialnumber,
	   		date,
	   		store,
	   		customer,
	   		tel,
	   		car,
	   		color,
	   		number,
	   		memo,
	   		regDate 
	   	FROM 
	   		nano 
	   	WHERE 
	   		delyn='y'
	   		<if test="fno !=null">
	   			and fno = #{fno}
	   		</if>
	   		<if test="qnalist =='serialnumber'">
	   			and serialnumber like concat('%',#{search},'%')
	   		</if>
	   		<if test="qnalist =='customer'">
	   			and customer like concat('%',#{search},'%')
	   		</if>
	   		<if test="qnalist =='num'">
	   			and num  = #{search}
	   		</if>
	   		<if test="qnalist =='number'">
	   			and number like concat('%',#{search},'%')
	   		</if>
	   	ORDER BY num DESC
	   	LIMIT
	   		#{pageCount},#{countperPage}
   </select>
   
   <select id="getNanoListTotal" parameterType="map" resultType="int">
   		SELECT 
	   		count(*)
	   	FROM 
	   		nano 
	   	WHERE 
	   		delyn='y'
	   		<if test="fno !=null">
	   			and fno = #{fno}
	   		</if>
	   		<if test="qnalist =='serialnumber'">
	   			and serialnumber like concat('%',#{search},'%')
	   		</if>
	   		<if test="qnalist =='customer'">
	   			and customer like concat('%',#{search},'%')
	   		</if>
	   		<if test="qnalist =='num'">
	   			and num  = #{search}
	   		</if>
	   		<if test="qnalist =='number'">
	   			and number like concat('%',#{search},'%')
	   		</if>
   </select>
    
    <insert id="regist" parameterType="map">
    	INSERT INTO 
    		nano 
    			(fno,
    			serialnumber,
    			date,
    			store,
    			customer,
    			tel,
    			car,
    			color,
    			number,
    			memo,
    			regDate) 
    		VALUES 
    			(#{fno},
    			#{serialnumber},
    			#{date},
    			#{store},
    			#{customer},
    			#{tel},
    			#{car},
    			#{color},
    			#{number},
    			#{memo},
    			now())
    </insert>
    
    <update id="delete" parameterType="string">
    	update
    		nano
    	set
    		delyn='n'
    	where 
    		num=#{no}
    </update>
    
    <select id="updateForm" parameterType="string" resultType="map">
    	SELECT
    		num,
	   		serialnumber,
	   		date,
	   		store,
	   		customer,
	   		tel,
	   		car,
	   		color,
	   		number,
	   		memo,
	   		regDate 
	   	FROM 
	   		nano 
	   	WHERE
	   		num=#{no}
    </select>
    
    <update id="update" parameterType="map">
    	update
    		nano
    	set
	   		serialnumber=#{serialnumber},
	   		date=#{date},
	   		store=#{store},
	   		customer=#{customer},
	   		tel=#{tel},
	   		car=#{car},
	   		color=#{color},
	   		number=#{number},
	   		memo=#{memo},
	   		modDate=now()
	   	where
	   		num=#{no}
    </update>
    
    <select id="registForm" parameterType="int" resultType="hashmap">
    	select
    		name
    	from
    		franchise
    	where
    		fno = #{fno}
    </select>
    
    <select id="getManufacturerList" resultType="hashmap">
    	SELECT 
    		* 
    	FROM 
    		manufacturer
    </select>
</mapper>